* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html { -ms-content-zooming: none; touch-action: none; }
body {
  overscroll-behavior-x: none;
}




a {
	text-decoration: none;
    color:white;
}
@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'MICEGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'MICEGothic';
    width: 100%;
    font-size: 16px;
    color: #333333;
}

.video_all {
    overflow: hidden;
}

video {position: fixed; top: 0px; left: 50%; transform: translateX(-46%);  min-height: 100%; width: auto; height: auto; z-index: -1; overflow: hidden;}
figure {z-index: -1;} /*동영상을 묶어준 부분 레이어 낮춰줌. 백그라운드로 만드는 것!*/

.container_all {
    margin: 15px;
}
/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.home_btn {
    font-size: 18px;
    color: #fcfcfc;
    cursor: pointer;
}

.expo_logo {
    width: 25%;
}

/*말풍선*/
.ai_contents {
    position: absolute;
    right: 3%;
    margin-top: 150px;
}

.ai_contents_top {
    background: #fcfcfc;
    padding: 10px 15px;
    border-radius: 10px 10px 10px 0;
    font-family: 'MICEGothic Bold';
    box-shadow: rgb(156, 164, 172) 0 -3px 6px 0px inset, rgb(255 255 255 / 50%) 0 -3px 6px 1px inset;
}

.ai_contents_bottom {
    margin-top: 20px;
    background: #fcfcfc;
    padding: 10px 15px;
    border-radius: 10px 10px 10px 0;
    box-shadow: rgb(156, 164, 172) 0 -3px 6px 0px inset, rgb(255 255 255 / 50%) 0 -3px 6px 1px inset;
}

.ai_contents_bottom_box {
    background: #013F7A;
    padding: 10px 15px;
    border-radius: 15px;
    color: #fcfcfc;
}

.ai_contents_bottom_box:nth-of-type(2) {
    margin: 10px 0;
}


/*마이크 CSS*/
.box {
  top: 50%;
  left: 50%;
  margin-top: 60%;
}

.object {
  display: flex;
	flex: 0 1 100%;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.outline {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 8px solid #B5A4A4;
  animation: pulse 3s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	position: absolute;
}

.button {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background: #50CDDD;
	box-shadow: 0px 0px 80px #0084F9;
	position: absolute;
}

@keyframes pulse {
  /* 0% {
    transform: scale(0);
    opacity: 0;
		border: 65px solid #0B3082;
  }
  50% {
		border: solid #A3FFC2;		
		opacity: 0.8;
  }
	
	 90% {
    transform: scale(3.2);
		opacity: 0.2;
		border: 3px solid #2E3CFF;
  }
  100% {
    transform: scale(3.3);
		opacity: 0;
		border: 1px solid #7A89FF;
  } */
}

#delayed {
	animation-delay: 1.5s;
}

#circlein {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #6BD6E1;
	box-shadow: 0px -2px 15px #E0FF94;
	position: absolute;
}

.mic-icon {
	height: 60px;
	position: absolute;
	margin: 21px;
}

/*모달*/
.modal{
  position: absolute;
  top:70%;
  width:100%;
  height:30%;
  background-color: white;
  border-radius: 80px 80px 0 0;
  text-align: center;
  opacity: 0.94;
  box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px, rgb(14 30 37 / 32%) 0px 2px 16px 0px;
  display: none;
}
.button_contain{
  margin-top: 10%;
  display: flex;
  justify-content: center;
  
}
#Confirm{
  top:70%;
  width:30%;
  height:10%;
  display: none;
}
#Cancellation{

  top:70%;
  width:30%;
  height:10%;
  display: none;
}

#Voice_error_btn{
  position: absolute;
  top:78%;
  left:35%;
  width:30%;
  height:5%;
  display: none;
}
.Pinching{
  touch-action: none;
}